@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans min-h-screen text-base text-white;
        background-color: #0B0F19;
        /* Deep Space fallback */
    }
}